<h2>Admin View for Application <%= @application.id %></h2>

<h1><%= @application.name %></h1>
<h3>Street Address: <%= @application.street_address %></h3>
<h3>City: <%= @application.city %></h3>
<h3>State:<%= @application.state %></h3>
<h3>Zipcode: <%= @application.zip_code %></h3>
<h3>Description: <%= @application.description %></h3>
<div id="petApproval">
<h3>Pets Applying For: <% @application.pets.each do |pet| %></h3>
                       <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
                        <% if pet.application_pet.first.approved == false && pet.application_pet.first.rejected == false%>
                          <%= button_to 'Approve Pet', "/admin/applications/#{@application.id}", method: :patch, params: {pet_id: pet.id}  %>
                          <%= button_to 'Reject Pet', "/admin/applications/#{@application.id}", method: :patch, params: {rejected: true, pet_id: pet.id} %>
                        <% elsif pet.application_pet.first.rejected == true %>
                          <p>Rejected</p>
                        <% elsif pet.application_pet.first.approved == true %>
                          <p>Approved</p>
                        <% end %>
                       <% end %>
</div>
<h3>Status: <%= @application.status %></h3>
